Makefile
Makefile.in

/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h*
/config.log
/config.rpath
/config.status
/config.sub
/configure
/configure~
/depcomp
/stamp-h1
/install-sh
/libtool
/ltmain.sh
/missing
/m4/*.m4
/po/
/intl/

/conftest.i
/confdefs.h
/conftest.c
/conftest.cpp
/conftest.err
/conftest.er1

/man/*.1
/man/*.5
/html/*.html
/html/devel/
/html.internal/
/xml/libpst

*.o
*.la
*.lo
.deps/
.libs/
/src/deltasearch
/src/dumpblocks
/src/getidblock
/src/lspst
/src/nick2ldif
/src/pst2dii
/src/pst2dii.cpp
/src/pst2ldif
/src/readpst

/libpst.html.tar.gz
/libpst.pc
/libpst-[0-9].[0-9].[0-9][0-9].tar.gz
